<!-- student-table.html -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
      <th scope="col">Email</th>
      <th scope="col">Teléfono</th>
      <th scope="col">PPA</th>
      <th scope="col">Dirección</th>
      <th scope="col">Activo</th>
      <th scope="col">Fecha Pago</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList">
      <ng-container *ngIf="student.age > 21">
        <td>{{ student.name | uppercase }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.ppa }}</td>
        <td>{{ student.address || '-' }}</td>
        <td>{{ student.activated ? 'Sí' : 'No' }}</td>
        <td>{{ student.fechaPago | date : 'shortDate' }}</td>
        <td>
          <button class="btn btn-primary" (click)="mostrarEstudiente(student)">Editar</button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<app-student-detail [student]="selectedStudent"></app-student-detail>
<app-student-form></app-student-form>
<!-- 
- Solo puede  haber una instruccion por etiqueta
- ng-container es un contenedor de angular para colocar instrucciones, nada visual ni afecta al contenido de la pagina
- Es mejor usar ngIf que hidden porque ngIf no aparece en el DOM, porque no renderiza el contenido que no cumpleo con el if
- *ngSwitchCase="jpj" es el nuevo switch para Angular
 -->
